.banner{
	background-color: gray;
	text-align: center;
	height:40em;
	overflow: hidden;
}
.banner>img{
	margin-top:-3.7em;
	border-radius: 60%;
}
.button{
	margin-top: 2em;
	text-align: center;
	width: 7em;
}
.button>a{
	text-decoration: none;
}
.button>a>h2{
	border-radius: 10px 10px;
	background-color: #5588f7;
	color: white;
	width: 7em;
	padding: 0.3em;
	margin: -0.3em;
	box-shadow:2px 2px 2px 2px rgba(20%,20%,40%,0.5);
}
.button>a>h2:hover{
	border-radius: 10px 10px;
	background-color: #89bdf0;
	color: white;
	width: 7em;
	padding: 0.3em;
	margin: -0.3em;
	box-shadow:2px 2px 4px 4px rgba(20%,20%,40%,0.5);

}
.home{
	margin-top: -3.5em;
	text-align: center;
	width: 6.5em;
}
.home>a{
	text-decoration: none;
}
.home>a>h2{
	border-radius: 10px 10px;
	background-color: #ffb90f;
	color: white;
	width: 6.5em;
	padding: 0.3em;
	margin: -0.3em;
	box-shadow:2px 2px 2px 2px rgba(20%,20%,40%,0.5);
}
.home>a>h2:hover{
	border-radius: 10px 10px;
	background-color: #fff70f;
	color: white;
	width: 6.5em;
	padding: 0.3em;
	margin: -0.3em;
	box-shadow:2px 2px 4px 4px rgba(20%,20%,40%,0.5);

}